@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
:root {
    --rosa: #BD839E ;
    --vermelho: #E62626;
    --amarelo: #EFCB68;
    --verde: #5FAD56;
    --cinza: #4F5558;
    --preto: #000;

     /* Cores das Notas*/
    --azul--marinho: #2EC4B6;
    --azul-claro: #46B1FF;
    --roxo: #AAA1C8;
    --rosa-claro: #EE7878;

    font-family: Fira Code;
    font-size: 62.5%;
}

body{
    margin: 0;
}
.cabecalho {
    background-color: var(--preto);
    padding         : 2.0rem      ;
}
    .cabecalho__titulo {
        color          : var(--rosa);
        display        : flex       ;
        justify-content: center     ;
        font-size      : 2.5rem     ;
        margin         : 0          ;
    }

.principal {
    background-color: var(--preto);
}
    .principal__bloco{
        background-color: var(--cinza);
        margin-inline: 10%;
        border-radius: 3.0rem;
    }
        .bloco__cores {
            display: flex;
            flex-direction: row;
        }
            .cor1 {
                padding: 0.8rem;
                width: -1.2rem;
                border-radius: 4.0rem;
                background-color: var(--vermelho);
                margin: 0.5rem;
            }
            .cor2 {
                padding: 0.8rem;
                width: -1.2rem;
                border-radius: 4.0rem;
                background-color: var(--amarelo);
                margin: 0.5rem;           
             }
            .cor3 {
                padding: 0.8rem;
                width: -1.2rem;
                border-radius: 4.0rem;
                background-color: var(--verde);
                margin: 0.5rem;         
             }  